<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Products</h1>
    <div class="text-right">
      <%=link_to "Nuevo Producto", new_product_path, class: 'btn btn-primary btn-lg'%>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Categorias</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%=product.name%></td>
              <td><%=product.price%></td>
              <td>
                <%product.categories.each do |c| %>
                  <%=c.name%>
                <%end%>
              </td>
              <td>
                <%= link_to 'Editar', edit_product_path(product) %>
                Borrar
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>